__pycache__
Week4/Exercises/anagram/sowpods.txt
Week5/Day4/ExercisesXP/dvdrental
Week17/quote-generator/public
Week17/quote-generator/src/assets
Week17/quote-generator/README.md
Week17/quote-generator/eslint.config.js
Week17/quote-generator/index.html
Week17/quote-generator/package-lock.json
Week17/quote-generator/package.json
Week17/quote-generator/vite.config.js
